# Ignore virtual environment
venv/
env/
.env

# Byte-compiled / cached
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs & debug files
logs/
*.log

# VS Code settings
.vscode/

# MacOS & Linux system files
.DS_Store
*.swp
*.swo

# Ignore Python packages
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Ignore database files
*.sqlite3
